html, body{
  margin: 0;
  padding: 0;

}
body{
    padding-top: 0px;
    background: linear-gradient(45deg,#7851a9, #6c4998, #604087, #473064, #493167, #402b59, #36254c);
    background-size: 600% 100%;
    animation: gradient 16s linear infinite;
    animation-direction: alternate;
}
.home {
    overflow-y: hidden;
}
@keyframes gradient {
    0% {background-position: 0%}
    100% {background-position: 100%}
}

h1{
  color: white;
  font-family: He;
  font-size: 300px;
}

@font-face {
  font-family: "He";
  src: url(Fonts/he.ttf);
}
@font-face {
  font-family: "text";
  src: url(Fonts/text.otf);
}
@font-face {
  font-family: "quote";
  src: url(Fonts/Quote.ttf);
}

a{
  text-decoration: none;
}

.flex {
  display: flex;
  width: 100%;
  height: 100%;
}

.sides {
  width: 25%;
  height: 100%;
}
.container{
  padding: 0;
  width: 100%;
  height: 100;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}
.date-entry{
  padding: 5px;
  background: white;
}
.left {
    border-left: #7851a9 1px solid;
}
#title{
  color: #7851a9;
  font-family: He;
  font-size: 50px;
}
#quote{
  font-family: quote;
}
p{
  color:#7851a9 ;
  font-family: text;
  font-size: 30px;
}

.date-entry-images{
  display: flex;
	align-items: center;
	justify-content: center;
}
img{
    max-width: 100%;
}



.timer{
  text-align: center;
  background: white;
  border-radius: 1%;
  width: 250px;
  height: 150px;
  position: fixed;
  top: 0px;
  left: 10px;
}
